// WiFi
const char *wifi_ssid = "";
const char *wifi_pass = "";

// MQTT Config
const char *mqtt_broker = "";
const char *mqtt_username = "";
const char *mqtt_password = "";
const int mqtt_port = 1883;

// MQTT Topics
const char *topic = "";
const char *lowVoltageTopic = "";

const float batteryLowVoltage = 3.0;