// WiFi
const char *wifi_ssid;
const char *wifi_pass;

// Project
const int projectId;

// Config URL
const String configURL;
const String voltageUpdateURL;

// Ntfy
const String ntfyURL;
const String ntfyAuth;